.news-container {
    grid-template-rows: rem(190px) auto 1fr rem(190px);
    grid-template-areas:
        "teaser teaser . . . ."
        "teaser teaser img img title title"
        "teaser teaser img img news news"
        "teaser teaser . . . .";
        .news-image {
            grid-area: img;
            object-fit: cover;
            aspect-ratio: 1 / 1;
        }
        
        .news {
            grid-area: news;
            max-width: 600px;
            position: relative;
            background: $clr3;
            color: $clr2;
            justify-self: start;
        align-self: start;
        padding: rem(85px) rem(60px) 0;
        margin-inline-start: -14%;
        z-index: 1;
    }

    .news-category {
        grid-area: title;
        padding-inline-start: rem(40px);
    }

    .news-text {
        margin-bottom: em(60px);
    }

    .news-pager {
        position: absolute;
        inset: auto 0 0 auto;
    }

    .news-title {
        margin-bottom: em(60px, 29px);
    }

    .teaser {
        grid-area: teaser;
    }

}
